@import "canvas.css";
@import "toolbox.css";
@import "modal.css";
@import "gatebuilder.css";

/*                       BASE
    This file is only for the very basic/generic elements
    of css, and also to unite all the other theme parts to one.
*/

body {
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

/*  The main headline at the top of the page.
    Desc: Big, centered white letters inside 
          a dark gray rectangle.
*/
main-title {
    background-color: #333;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 67px;
    left: 0;
    width: 100%;
    min-width: 1000px;
}

/* Customization for the main title.
   Desc: Lightgreen shader for the text.
*/
main-title span {
    position: relative;
    margin-left: 10px;
    color: rgb(77, 187, 77);
}

/* The rectangle at the bottom right corner
   displaying relevant stats.
   Desc: A thin, gray rectangle about a fifth
         of the screen, at the global bottom right.
*/
toolbar {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: gray;
    height: 25px;
    left: 205px;
    bottom: 0;
    width: max-content;
    z-index: 3;
    width: 100%;
}

/* A simple stat-tracker.
   Desc: invisible background, small
         black letters, a quarter of
         the parent container.
*/
counter {
    position: relative;
    height: 85%;
    width: 140px;
    display: inline-block;
    border-radius: 5px;
    cursor: default;
    margin-left: 5px;
}

/* Emphasize the counter on hover
   by temporarily turning the background to dark gray.
*/
counter:hover {
    background-color: lightgray;
}

/* Vertical <hr> analog for the toolbar. Spawns a thin vertical line.
   Desc: vertical, black, marginalized from the top, bottom and left.
*/
toolbar vr {
    position: relative;
    height: 70%;
    width: 1px;
    display: inline-block;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
}

/* Container for the tab links.
   Desc: invisible flexbox, extends row-wise,
         covers the tab-content element partially
         to hide its overlapping border as an illusion
         of uniformality.
*/
tabs {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 213px;
    top: 83px;
    right: 10px;
}

/* Header objects representing each independent tab. Each holds
   delete buttons and name input boxes.
   Desc: white, thick border everywhere except the bottom, rounded
         rectangles, shrink appropriately when cluttered together down to a minimum.
*/
tab-link {
    background-color: white;
    position: relative;
    float: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid #333;
    border-bottom: none;
    cursor: pointer;
    width: 150px;
    height: 35px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    animation: slideIn 0.1s ease;
}

/* Slide animation for the creation of a tab-link.
   Slides into its position starting from the creation
   button and continuing rightwise.
*/
@keyframes slideIn {
    from { transform: translateX(-50%); }
    to   { transform: translateX(0);     }
}

/* Inputbox for the tab's name.
   Desc: initially invisible, covers 3/4ths of the tab, 
         black letters in times new roman.
*/
tab-link input {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 75%;
    border: none;
    background-color: white;
    pointer-events: none;
    transition: background-color 0.2s;
}

/* Inputboxes placeholder colors default to gray, switch to black.
*/
tab-link input::placeholder {
    color: black;
    opacity: 1;
}

/* Browser-safe alternative for the above.
*/
tab-link input:-ms-input-placeholder {
    color: black;
}

/* Shine lightgreen on hover to highlight interactability.
*/
tab-link:hover {
    background-color: rgb(175, 236, 175);
}

/* Shine the inputbox at the same time as the tab-link to hide it
   when not interacting with it.
*/
tab-link:hover input {
    background-color: rgb(175, 236, 175);
}

/* The center-stage of the page, where the circuits get shown
   Desc: white canvas, flex, overflows on both dimensions,
         rounded thick borders.
*/
tab-content {
    position: absolute;
    display: flex;
    left: 213px;
    top: 118px;
    right: 0;
    bottom: 35px;
    border: 2px solid #333;
    border-right: none;
    border-bottom-left-radius: 10px;
    z-index: 0;
    overflow: auto;
}

/* Cross button inside the tabs ribbon to include new tab.
   Desc: Dark gray cross, marginalized from the top and left,
         curved square container, Arial.
*/
.include-tab {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    color: #333;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 3px;
    transition: background-color 0.2s;
}

/* Shine the include button the usual lightgreen to show
   interactability.
*/
.include-tab:hover  {
    background-color: rgb(175, 236, 175);
}

/* Delete button inside each tab.
   Desc: small rounded rectangle, holds a small x in times new roman,
         centered.
*/
.delete-tab {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

/* Shine the delete button a slightly darker green to show
   interactability and to distinguish it from the rest of the tablink.
*/
.delete-tab:hover {
    background-color: rgb(133, 206, 133);
}
