/*                   CANVAS
    i.e. everything concerning the main area of the 
    webpage where the qubits and the title are.
*/

/* The rectangle at the bottom right corner
   displaying relevant stats.
   Desc: A thin, gray rectangle about a fifth
         of the screen, at the global bottom right.
*/
toolbar {
    position: relative;
    display: block;
    background-color: gray;
    height: 2.5vh;
    left: 1%;
}

/* A simple stat-tracker.
   Desc: invisible background, small
         black letters, a quarter of
         the parent container.
*/
counter {
    position: relative;
    height: 90%;
    width: 140px;
    display: inline-block;
    border-radius: 5px;
    margin-left: 5px;
    cursor: default;
    vertical-align: 46%;
}

/* Emphasize the counter on hover
   by temporarily turning the background to dark gray.
*/
counter:hover {
    background-color: lightgray;
}

/* Dummy div to push the counters to the right.
   Desc: invisible.
*/
toolbar dummy {
    position: relative;
    height: 100%;
    width: 10px;
    display: inline-block;
    margin-right: 1350px;
}

toolbar delimiter {
    position: relative;
    height: 70%;
    width: 1px;
    display: inline-block;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*  Single-qubit container.
    Desc: invisible rectangle containing the ket state
          at its start and the qubit wire at its center,
          extending to the right end of the screen.
*/
qubit {
    position: relative;
    right: 0;
    width: 100%;
    height: 50px;
    margin-left: 5px;
}

/* The wire on which gates can be positioned.
   Desc: long, thin, about 90% of the width of the
         parent container, right-justified.
*/
qubit-wire {
    position: absolute;
    height: 1px;
    top: 50%;
    right: 0;
    left: 3%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: black;
    display: inline-block;
}

/* The state of the qubit in ket format to the left of the wire.
   Desc: invisible quasi-square containing the ket, small black letters.
*/
qubit-state {
    position: relative;
    height: 30px;
    width: 30px;
    top: 20%;
    color: black;
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 17px;
    transition: background-color 0.2s;
    white-space: nowrap;
    margin-left: 2px;
    display: inline-block;
    text-align: right;
    line-height: 30px;
    padding-left: 3px;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Highlight the state container with a lightgreen
   background to emphasize interactability.
*/
qubit-state:hover {
    background-color: rgb(175, 236, 175);
}

qubit-widgets {
    position: relative;
    height: 40px;
    width: 15px;
    top: 20%;
    display: inline-block;
}

.qubit-option {
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    font-size: x-small;
    border: none;
    transition: background-color 0.2s;
    text-align: center;
}

.qubit-option:hover {
    background-color: rgb(175, 236, 175);
}

/* The border of the ket, alternates in colors.
   Desc: invisible square ontop of the state square,
         uninteractable, used for changing its border.
*/
.register-border {
    position: absolute;
    border: none;
    pointer-events: none;
}

/* Connector for control gates.
   Desc: black, vertical, same thinness as the qubit wires.
*/
.control-wire {
    position: absolute;
    width: 1px;
    background-color: black;
    border: 1px solid white;
}

/* Connector for swap gates.
   Desc: copy of control-wire.
*/
.swap-wire {
    position: absolute;
    width: 1px;
    background-color: black;
    border: 1px solid white;
}

/* Border for postselections.
   Desc: gray, dashed, spans the entire
   length of the step.
*/
.border-wire {
    position: absolute;
    width: 1px;
    border-left: 2px dashed gray;
    cursor: pointer;
}