/*                   CANVAS
    i.e. everything concerning the main area of the 
    webpage where the qubits and the title are.
*/

/* The center-stage for the qubits to spawn.
   Desc: invisible, encompassing the area
         between the title and the counters.
*/
circuit-canvas {
    position: relative;
    display: block;
    flex: 1;
    margin-top: 6px;
}

/*  Single-qubit container.
    Desc: invisible rectangle containing the ket state
          at its start and the qubit wire at its center,
          extending to the right end of the screen.
*/
qubit {
    position: relative;
    display: flex;
    right: 0;
    height: 50px;
    margin-left: 5px;
    align-items: center;
}

/* The wire on which gates can be positioned.
   Desc: long, thin, extends indefinitely to the right, right-justified.
*/
qubit-wire {
    position: absolute;
    height: 1px;
    top: 50%;
    right: 0;
    left: 60px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: black;
    display: inline-block;
}

/* The state of the qubit in ket format to the left of the wire.
   Desc: invisible quasi-square containing the ket, small black letters.
*/
qubit-state {
    position: relative;
    height: 30px;
    width: 30px;
    color: black;
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 17px;
    transition: background-color 0.2s;
    white-space: nowrap;
    margin-left: 2px;
    display: inline-block;
    text-align: right;
    line-height: 30px;
    padding-left: 3px;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Highlight the state container with a lightgreen
   background to emphasize interactability.
*/
qubit-state:hover {
    background-color: rgb(175, 236, 175);
}

/* Wrapper div for the prepend-close qubit options
   Desc: Leftmost inside the qubit object, vertical
         rectangle.
*/
qubit-widgets {
    position: relative;
    height: 40px;
    width: 15px;
    top: 20%;
    display: inline-block;
}

/* Button option for the parent qubit.
   Desc: small rounded square, centered text
         visible only on hover.
*/
.qubit-option {
    position: relative;
    display: none;
    height: 13px;
    width: 13px;
    cursor: pointer;
    background-color: white;
    font-size: x-small;
    border: none;
    transition: background-color 0.2s;
    justify-content: center;
    align-items: end;
    border-radius: 5px;
}

/* Show options only on qubit hover to not clutter the screen.
*/
qubit:hover .qubit-option {
    display: flex;
}

/* Default background color option is the usual lightgreen.
*/
.qubit-option:hover {
    background-color: rgb(175, 236, 175);
}

/* For important/dangerous options, switch to red (eg
   when deleting the qubit).
*/
.red-hover:hover {
    background-color: rgb(238, 94, 94);
}

/* The border of the ket, alternates in colors.
   Desc: invisible square ontop of the state square,
         uninteractable, used for changing its border.
*/
.register-border {
    position: absolute;
    border: none;
    pointer-events: none;
    z-index: 1;
}

/* Connector for control gates.
   Desc: black, vertical, same thinness as the qubit wires.
*/
.control-wire {
    position: absolute;
    width: 1px;
    background-color: black;
    border: 1px solid white;
}

/* Connector for swap gates.
   Desc: copy of control-wire.
*/
.swap-wire {
    position: absolute;
    width: 1px;
    background-color: black;
    border: 1px solid white;
}

/* Border for postselections.
   Desc: gray, dashed, spans the entire
   length of the step.
*/
.border-wire {
    position: absolute;
    width: 1px;
    border-left: 2px dashed gray;
    cursor: pointer;
}