/*              GATEBUILDER
    Everything concerning the custom gate builder window,
    including the 'add gate' button.
*/

/* Include new gate button. Spawns the gatebuilder.
   Desc: rounded rectangle, similar to a gate, 
         holds a large black cross image, initially semi-opaque.
*/
.add-custom-gate {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    margin-right: 12px;
    color: #333;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    user-select: none;
    vertical-align: top;
    border: 2px solid #333;
    border-radius: 5px;
    transition: 0.2s;
    opacity: 0.6;
    z-index: 4;
}

.add-custom-gate span {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

/* Revert to full opacity on hover.
*/
.add-custom-gate:hover {
    opacity: 1;
}

.add-custom-gate[disabled] {
    color: red;
    border: 2px solid red;
    cursor: not-allowed;
}

/* Modal-like window for the creation of a new gate.
   Desc: invisible container that centers the underlying subwindow 
         and casts a shadow over the rest of the page when loaded.
*/
gatebuilder {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Main gatebuilder window
   Desc: curved rectangle, white background.
*/
gatebuilder-body {
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

gatebuilder description {
    position: absolute;
    display: block;
    background-color: lightgray;
    border-radius: 5px;
    width: 200px;
    top: 50px;
    left: 10px;
    bottom: 10px;
} 

gatebuilder hr {
    position: absolute;
    left: 10px;
    top: 30px;
    width: 60%;
}

/* Input widget titles.
   Desc: bold black normal size letters, times new roman. 
*/
gatebuilder label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    user-select: none;
    position: relative;
    font-weight: bold;
}

/* Make form widgets transparent and uninteractable when disabled.
*/
gatebuilder input[disabled],
gatebuilder textarea[disabled],
gatebuilder button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Inputboxes for the symbols and titles.
   Desc: typical lightgreen background, black letters, times new roman
         marginalized.
*/
gatebuilder input {
    background-color: rgb(175, 236, 175);
    border: 1px solid black;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    width: 85%;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Description text area.
   Desc: similar to form textarea, extends and overflows only vertically.
*/
gatebuilder textarea {
    position: absolute;
    background-color: rgb(175, 236, 175);
    border: 1px solid black;
    resize: vertical;
    height: 100px;
    max-height: 200px;
    font-family: 'Times New Roman', Times, serif;
    overflow-y: auto;
    left: 220px;
    top: 74.5px;
    width: 160px;
}

/* Create and close buttons container.
   Desc: invisible, centering, marginalized.
*/
gatebuilder buttons-col {
    position: absolute;
    display: grid;
    place-items: center;
    bottom: 10px;
    width: 89%;
    left: 10px;
}

/* Create and close buttons.
   Desc: sized down versions of the toolbox buttons.
*/
gatebuilder .big-button {
    background-color: rgb(165, 159, 159);
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    transition: border 0.2s;
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* Show border on button hover to highlight interactability.
*/
gatebuilder .big-button:hover {
    border: 1px solid black;
}