/*                      TOOLBOX
    Everything contained inside the vertical gray rectangle,
    apart from the run button.
*/

/* The body of the toolbox. 
   Desc: vertical, lightgray, encompasses
         the entire available height,
         left-justified.
*/
.toolbox-palette {
    width: 200px;
    height: 100%;
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
}

/* The toolbox title, also used as a delimiter. 
   Desc: Big dark gray letters, centered.
*/
.toolbox-title {
    padding: 10px;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* Line seperator between toolbox subsections.
   Desc: Thin, black, horizontal, about a 10px margin
   on each side.
*/
hr {
    border: none;
    border-top: 1px solid #333;
}

/* Top subsection of toolbox, contains gates.
   Desc: vertical, encompasses more than half
         of the toolbox vertically, left-justified.
*/
.gates-corner-container {
    position: relative;
    height: 490px;
}

/* Gate category container (e.g. Half-Turns).
   Desc: malleable invisible container, marginalized
         from the top and the left.
*/
.gate-section-container {
    position: relative;
    margin-top: 5px;
    left: 5%;
}

/* Gate category title.
   Desc: gray letters, left-justified,
         medium-sized.
*/
.gate-section-title {
    padding: 10px;
    color: #333;
    font-size: 24px;
    text-align: left;
}

/* Gate square represenation for the quantum operators.
   Desc: White square, thin black borders, marginalized
         from the right and top, aligned vertically from the
         top, shadowed only when inside the toolbox.
*/
.gate {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px;
    vertical-align: top;
}

/* Highlight the gates lightgreen on hover to
   signal interactability. Also spawn the border,
   in the case the gate has special textures.
*/
.gate:hover {
    border: 1px solid black !important;
    background-color: rgb(175, 236, 175) !important;
}

/* Big black bold letters inside the gates,
   as per standard.
*/
.gate span {
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

/* Exponential lettering for the text inside the gates.
*/
.gate sup {
    vertical-align: super;
    font-size: 12px;
}

/* Subscript lettering for the text inside the gates.
*/
.gate sub {
    vertical-align: super;
    font-size: 12px;
}

/* Special textures inside the gates are projected with images.
   Such images should span the entire area of the gate.
*/
.gate img {
    max-width: 100%;
    max-height: 100%;
}

/* Input box for powers of gates. Used in the powered Paulis.
   Desc: small green rectangle, thin black borders, placed
         on the top right of the gate, in the exponent position.
*/
.textbox {
    position: relative;
    top: 10%;
    left: 45.5%;
    width: 20px; /* Adjust width as needed */
    height: 15px; /* Adjust height as needed */
    background-color: rgb(175, 236, 175); /* Set your desired background color */
    border: 1px solid black;
    box-sizing: border-box;
}

/* Bottom subsection of the toolbox, contains helpful buttons.
   Desc: invisible rectangle, placed just above the previous
         container.
*/
.help-corner-container {
    position: relative;
}

/* Row of buttons. Divs inside it are aligned vertically.
   Desc: invisible malleable rectangle, marginalized from the top
   and the left.
*/
.help-buttons-container {
    position: relative;
    margin-top: 5px;
    left: 5%;
}

/* Half-sized button.
   Desc: darker gray from toolbox background but still
         light, small black bold letters, no starting 
         border, about a third of the width of the
         toolbox.
*/
.small-button {
    background-color: rgb(165, 159, 159);
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 88px;
    transition: border 0.2s;
}

/* Summon border on hover to highlight
   interactability.
*/
.small-button:hover {
    border: 1px solid black;
}

/* Full-sized button.
   Desc: longer copy of small-button.
*/
.long-button {
    background-color: rgb(165, 159, 159);
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    transition: border 0.2s;
}

/* Summon border on hover to highlight
   interactability.
*/
.long-button:hover {
    border: 1px solid black;
}